$vxe-table-validate-error-color: #f56c6c;

%ResetBorder {
  border: 0;
}

%CompWidth {
  & > .arco-input-wrapper,
  & > .arco-select-view,
  & > .arco-picker,
  & > .arco-textarea-wrapper,
  & > .arco-picker-range,
  & > .arco-mention {
    width: 100%;
  }
}
.vxe-form {
  .vxe-form--item-content {
    @extend %CompWidth;
  }
  .vxe-form--item-inner {
    @extend %CompWidth;
  }
}
.vxe-table--filter-element-wrapper {
  padding: 0.8em 1em;
  & > .arco-input-wrapper,
  & > .arco-select-view,
  & > .arco-picker,
  & > .arco-textarea-wrapper,
  & > .arco-picker-range,
  & > .arco-mention {
    width: 180px;
  }
}
.vxe-table {
  .vxe-cell,
  .vxe-tree-cell {
    @extend %CompWidth;
  }
  .vxe-cell--wrapper {
    @extend %CompWidth;
  }
}
.col--valid-error {
  & > .vxe-cell,
  & > .vxe-tree-cell {
    & > .arco-input-wrapper,
    & > .arco-select-view,
    & > .arco-textarea-wrapper,
    & > .arco-picker,
    & > .arco-picker-range,
    & > .arco-mention .arco-textarea-wrapper {
      border-color: $vxe-table-validate-error-color;
    }
  }
}
