.vxe-wang-editor {
  width: 100%;
  border: 1px solid var(--vxe-ui-input-border-color);
}
.vxe-wang-editor--toolbar {
  border-bottom: 1px solid var(--vxe-ui-input-border-color);
}
.vxe-wang-editor--editor {
  height: 300px;
}
